<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style type="text/css">
    ul{
        background-color: rgb(148, 148, 148);
        position: absolute;
        width: 98px;
        height: 100%;
    }
    p{
        position: absolute;
        padding-left: 140px;
    }
    .hed{
        text-align: center;
    }
</style>
<body>
    <p>
        <h1 class="hed">DTC PORTAL</h1>
        <form action="/fetchstop" method="post">
            {% csrf_token %}
            <input type="text" name="initialstop">
            <input type="text" name="finalstop">
            <input type="submit">
        </form>
    </p>
    <ul>
        <li>
            <a href="">my profile</a>
        </li>
        <li>
            <a href="/terminal_login">login</a>
        </li>
        <li>
            <a href="">buses</a>
        </li>

    </ul>
</body>
</html>